body {
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.text-gradient {
    color: #14d8ff; 
    background-image: linear-gradient(45deg, #14d8ff 100%, #ffffff 39%, #2c906f 43%, #5A1846 9%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.custom-checkbox {
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked ~ label .custom-checkbox {
    background-color: #3b82f6;
}

.peer-checked ~ label .border {
    transition: background-color 0.2s ease-in-out;
}
#todoList input[type="checkbox"]:checked + label svg {
    visibility: visible;
}
#todoList input[type="checkbox"]:checked ~ .todoText {
    text-decoration: line-through;
    color: #867d7db6;
}

/* .todoText {
    padding: 12px 0px;
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(62, 62, 62, 0.53);
    border: 1px solid #0036e8;
} */